---
layout: ../layouts/Layout.astro
---

<!-- Hidden page for hosting images in src/assets/images/Algo -->
<html style="display:none;">
  <body>
    <img src="/src/assets/images/Algo/RodrigoTrabajo.png" alt="RodrigoTrabajo" />
    <!-- Add more images here if needed -->
  </body>
</html>
